A {font-size:10.5pt; text-decoration:underline; color:blue}
A:hover{font-size:10.5pt; text-decoration:underline; color:red}
TABLE{font-size:10.5pt;font-family:Adobe Helvetica,Helvetica,Bitstream Vera Sans,Verdana,sans-serif}
body { top: 0px; scrollbar-face-color: #E0E0E0; scrollbar-shadow-color: #E0E0E0; scrollbar-highlight-color: #E0E0E0; scrollbar-3dlight-color: #999999; scrollbar-darkshadow-color: #000000; scrollbar-track-color: #E0E0E0; scrollbar-arrow-color: #000000;}
